// Place all the styles related to the Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html
{background:darkcyan;}
html h1{color: dodgerblue;}

html a:link{
  color: burlywood;
}
html a:visited {
  color: deeppink;
}

html tbody {color:brown;}

html p {
  font-family: "Times New Roman", Times, serif;
}
html p {
  text-transform: uppercase;
}
html p {color: blueviolet;}