// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html body {color:purple} //color of text in the table
html h1{color: dodgerblue;}
html a:link{color: black;}
html a:visited {color: deeppink;}
html tbody{color: lightpink;  }
html form{color:black;}
html p { font-family: "Times New Roman", Times, serif;}
html p {color: darkred;}
html body {background:darkcyan;}
